mediapipe==0.10.35
opencv-python-headless==4.9.0.80
xgboost==2.0.3
scikit-learn==1.7.1
imbalanced-learn==0.12.2
mlflow==2.11.1
fastapi==0.110.0
uvicorn==0.29.0
streamlit==1.33.0
pandas==2.2.2
numpy==1.26.4
pymysql==1.1.0
sqlalchemy==1.4.52
pydantic==2.6.4
evidently==0.4.16
python-dotenv==1.0.1

